.container { max-width: 80%; margin: auto; }

.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  align-items: stretch;
  width: 100%;
}

.column {
  display: grid;
  gap: 20px;
}

.gains {
    background: linear-gradient(90deg, #260000, #ff2a2a);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
}
.pains {
    background: linear-gradient(90deg, #ff2a2a, #260000);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
}

.section-header {
    background-color: #001a1a;
    color: #9d7fff;
    font-size: 3rem;
    text-transform: uppercase;
    height: 10vh;
    text-align: center;
    display: grid;
    place-items: center;
}
