.background {
    width: 1000px;
    margin: 0 auto;
    background-image: url(Images/background2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
body {
    background-image: url(Images/books.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 80%;
    margin: 0 auto;
}
.header {
    background-color: brown;
    color: beige;
    width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: sticky;
    top: 10px;
    font-family: Arial, sans-serif;
}
.header_content {
    width: 100%;
    height: 60px;
    display: flex;
    position: sticky;
    justify-content: space-around;
    align-items: center;
}
.header-writers {
    font-size: 1.5rem;
    font-weight: 700;
}
.header-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.header-menu a {
    text-decoration: none;
    color: beige;
    padding: 15px 20px;
}
.header-menu li:hover > a {
    background-color: darkred;
}

.main {
    font-family: Cambria, Cochin, Georgia, Times, serif;
    width: 1000px;
    margin: 0 auto;
    top: 0;
    padding: 10px;
}
.main-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.main-text {
    text-align: justify;
    text-justify: inter-word;
    width: 600px;
    margin: 10px;
}
.main-picture {
    width: 400px;
    display: contents;
}
.main-table {
    border-spacing: 20px;
    width: 100%;
}
.img-current {
    width: 90%;
    margin: 5%;
}
.table-biography {
    font-family: Arial, Helvetica, sans-serif;
    border-spacing: 10px;
    padding: 10px;
}
.table-biography td:first-child {
    font-weight: 700;
    vertical-align: top
}

.authors {
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 20px;
}
.table-similar {
    border-spacing: 20px;
}
.table-similar td {
    width: 130px;
    height: 150px;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    vertical-align: top;
    border: 1px solid;
    box-shadow: 10px 10px 10px;
}
.img-similar {
    width: 100%;
    height: 100%;
}
