/* Стили для верхнего меню*/
.menu {
    background-color: #006c6c;
    height: 10vh;
    min-height: 60px;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 10;
    font-size: 1.5rem;
    padding: 10px;
    display: grid;
    place-items: center;
}

/* Grid для контейнера меню */
.menu .container.row {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 20px;
}

.menu nav {
    grid-column: 3;
}

.menu nav a {
    display: block;
    text-decoration: none;
    color: #9d7fff;
    transition: color 0.6s;
}
.menu nav a:hover {
    color: #c45454;
}

/* Flexbox внутри навигации */
.menu nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2vw;
    flex-wrap: wrap;
}
